
<body>
  <h1>プログラミング問題集</h1>
  <h2>コース選択</h2>
  <button  onclick="location.href='/problem'">初級</button>
  <button  onclick="location.href='/problem'">中級</button>
  <button  onclick="location.href='/problem'">上級</button>
</body>